.myPost {
    margin-top: 10px;
}

.posts {
    margin: 0 0 10px 10px;
}

.form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.form textarea {
    width: 30%;
    margin-bottom: 10px;
}